language: python
sudo: false
cache:
  - pip
  - apt

python:
  - "2.7"

addons:
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow
      - python-simplejson
      - python-serial
      - python-yaml
      - wkhtmltopdf # for odoo pdf reports
      - python-ldap # for auth_ldap
      - nodejs
      - npm

env:
  global:
  - VERSION="8.0" TESTS="0" LINT_CHECK="0" TRANSIFEX="0"

  matrix:
  - LINT_CHECK="1"
  - EXCLUDE="" TESTS="1" ODOO_REPO="odoo/odoo"
  - EXCLUDE="" TESTS="1" ODOO_REPO="OCA/OCB"

virtualenv:
  system_site_packages: true

install:
  - pip install --upgrade pycrypto
  - pip install docxtpl erppeek captcha simple-crypt python-ldap Pillow
  - npm install -g less less-plugin-clean-css
  - git clone --depth=1 https://github.com/Elico-Corp/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
